.align-center {
    text-align: center;
  }
  
  .text-danger {
    color: red;
  }
  
  .error-message {
    border: 1px solid darkred; background: salmon
  }
  
  .logo {
    /*display: block;*/
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
  }
  
  .user-image {
    display: inline-block;
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
    border-radius: 9999px;
  }

  .center {
    text-align: center;
    margin: 0.5rem;
  }

  input[type='button'] {
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  nav span:last-child, a:last-child {
    margin-left: auto;
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
/*   nav ul li
  {
    display: inline;
  } */
  
  /* Form styling */
  form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border:1px solid #c9e6ff;
    margin: 1em auto 0 auto;
    max-width: 500px;
    padding: 1em;
  }
  
  form select,
  form input {
    border:1px solid #c9e6ff;
  }
  
  form button {
    border: none;
    padding: 1em;
    background: #0069ed;
    color: #ffffff;
    cursor: pointer;
  }
  
  form button:hover,
  form button:focus {
    background: #0053ba;
  }
  
  form button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  
  form button:active {
    transform: scale(0.99);
  }
  
  label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  select,
  input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  
  select:focus,
  input:focus {
    outline: 2px solid royalblue;
  }
  
  /* table styling */
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0069ed;
    color: white;
  }
  
  @media (min-width: 700px) {
    form {
      grid-template-columns: auto 1fr;
      grid-gap: 16px;
    }
  
    button {
      grid-column: 2;
      justify-self: center;
    }
  
    #root {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
