body:has(.popup){
    margin: 0;
}

body:has(.popup:not(.hidden)) > *:not(.popup){
    filter: blur(5px);
}

.card-list:has(> .unavailable){
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

main:has(#sessionsList){
    margin: 2rem;
}
.schedule-header,.date-location{
    display: flex;
    flex-direction: row;
}

.presentation-card, .session-header,.session-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-header{
    justify-content: space-around;
    width: 100%;
}

.schedule-header .button{
    height: fit-content;
}

.date-location{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.date-location > p, .date-location i{
    color: #67637e;
}

.card{
    background-color: #f7f5f5;
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.7rem;
}

.session-card{
    padding: 1rem;
}

.session-card:has(.action-buttons > .button:hover),.session-card:has(> button:hover){
    background-color: #67637e05;
    border-radius: 1rem;
}

.action-buttons button{
    min-width: 7.25rem;
}

.popup{
    margin: 0;
    padding: 2.5vw;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #0000001b;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup > a.close{
    align-self: last baseline;
    /* text-align: right; */
    width: fit-content;
    font-size: 1.2rem;
    border-radius: 50%;
    margin: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    transition: 2s;
}

a.close i:hover{
    color: #b06856;
}

.popup >*{
    margin: 0;
}


.title-button{
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: center;
    width: 100%;
}

.title-button h4{
    align-self: center;
}

.dropdown{
    position: absolute;
    float: left;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: 1s;
    background-color: #f7f5f5;
}


@media screen and (max-width: 460px) {
    .hideMobile{
        display: none;
    }

    main:has(#sessionsList){
        margin: 0;
    }

    .date-location {
        justify-content: center;
    }
    .schedule-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    
}

@media screen and (max-width: 600px) {
    .date-location{
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    .popup{
        padding: 10vw;
    }
    .schedule-header{
        justify-content: space-around;
    }
}