/* .card {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
	background-color: #FFF;
	box-shadow: 0 5px 10px 0 rgba(#000, .15);
	border-radius: 10px;
	overflow: hidden;
	margin: 1rem;
	max-width: 300px;
}

.cardImg {
	aspect-ratio: 16/9;
	position: relative;
	overflow: hidden;
}

.cardBody {
	padding: 1.5rem;
}

.cardTitle {
	font-size: 1.25rem;
	line-height: 1.33;
	font-weight: 700;
} */