.header {
  border: 1px solid #0f0f0f;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 30px;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navigationItem:hover {
  color: #0f0f0f;
  text-decoration: underline;
}
